/*
    primary: #3e5bb1 273469
    button-color: #5075dd
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");
*{
    box-sizing: border-box;
}
  
html{
    font-family: 'Roboto', sans-serif;
}  
  
body{
    margin: 0;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;
    gap: 3px;
    transition: grid-template-columns ease-out .3s;
}
header{
    grid-column: 2;
    background-color: #273469;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    cursor: pointer;
    height: 100px;
}

nav{
    padding-left: 30px;
    background-color: #f3f3f3;
    grid-row: 1/ span 2;
    min-height: 100vh;
    z-index: 10;
    width: 100px;
    transition: width .5s ease;
    
}
nav i {
    font-size: 40px;
    cursor: pointer;
}
nav .container-nav{
    position: sticky;
    top: 0;
}
nav .container-nav div{
    height: 70px;
    width: 70px;
    transition: width ease-out .3s;
    overflow: hidden;
    white-space: nowrap;
}
nav .container-nav div:not(:first-child):hover{
    width: 270px;
    color: #273469;
    background-color: #f3f3f3;
}
nav .container-nav div span {
    margin-left: 50px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
}
.circle{
    height: 20px;
    width: 20px;
    margin: 20px 10px;
    font-weight: 600;
}
.circle-appointment-acheduled{
    text-wrap: nowrap;
    background-color: #36A2EB;
}
.circle-relivered{
    background-color: #FF6384;
}
.circle-rejected{
    background-color: #ffce56;
}

.tag-shipment-from,
.tag-shipment-to{
    background-color: #dedede;
    display: inline-block;
    border: 1px solid #dee2e6;
    width: fit-content; 
    border-radius: 3px;
    margin: 3px 5px;
}
.tag-shipment-from span,
.tag-shipment-to span{
    padding: 5px 5px;
}
.tag-shipment-from i 
.tag-shipment-to i{
    margin: 3px 5px;
}
.container-hazmat-details{
    width: 700px;
    z-index: 1000;
    border: 3px solid #273469;
    background-color: #dee2e6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-data-shipping {
    padding: 0;
    list-style: none;
    width: 400px;
    height: 0;
    max-height: 200px;
    background: #FFF;
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    overflow-y: scroll;
    z-index: 10;
    position: absolute;
    transition: height ease .5s;
}
.list-data-shipping li{
    padding: 5px 10px;
}
.highlight{
    background-color: #ffce56;
}
.list-data-shipping  li:hover{
    background-color:#36A2EB;
    cursor: pointer;
    color: white;
}

#shipment-truck-load-section{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    gap: 3px;
}
#shipment-truck-load-section .title-truck-load{
    grid-row: 1;
    grid-column: 1/span 2;
}
#shipment-truck-load-section .progress-bar-truck-load{
    grid-column: 1;
    grid-row: 2;
    background-color: #273469;
}
#shipment-truck-load-section .form-fill-truck-load{
    grid-column: 2;
    grid-row: 2;
}

.group-circle-step{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.group-circle-step .circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
}
.group-circle-step .circle span{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.group-circle-step p{
    width: 100px;
    margin-bottom: 0;
    color: #FFF;
}
.group-circle-step .line-step{
    position: absolute;
    background-color: white;
    height: 40px;
    width: 3px;
    bottom: -20px;
    left: 25%
}
.container-tag-truck-load{
    box-shadow: 4px 10px 44px 0px rgba(0, 0, 0, 0.20);
}
.title-parent{
    padding: 5px 3px;
    background-color: #273469;
    color: white;
}
.title-child{
    padding: 5px 3px;
    background-color:#667ac2;
    color: white;  
}
.container-button-truck-load{
    background-color: #f1f2f2;
    border: 1px solid #e6e7e8;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
 }
 .table-freight-description{
    width: 100%;
 }
 .table-freight-description thead th, 
 .table-freight-description tbody td{
    height: 40px;
 }
 .table-freight-description tbody tr:not(:last-child){
    border-bottom: 1px solid #dee2e6;
 }
 .hazmat-info-container{
    background-color: white;
    box-shadow: 4px 10px 44px 0px rgba(0, 0, 0, 0.20);
    width: 300px;
    padding: 5px 5px;
    z-index: 100;
 }
 .hazmat-info-container p{
    font-size: 13px;
    margin-bottom: 0;
 }
 .view-hazmat-details{
    cursor: pointer;
 }
.arrow{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);

    z-index: 10;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid white;
    border-bottom: 7px solid transparent;
}

/* Account*/
.card{
    background-color: #FFF;
    border-radius: 20px !important;
    border: none;
    box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.25);
}
.main-infor{
    width: 50rem;
    transition: all ease .5s;
}
.update-infor{
    width: 0px;
    overflow: hidden;
    transition: all ease .5s;
}

.header-card{
    display: flex;
    flex-direction: column;
}
.person-img{
    align-self: center;
    
}
.person-img div{
    width: 150px;
    height: 150px;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}
.person-detail{
    overflow: hidden;
    white-space: nowrap;
    align-self: center;
}
/*
***************************************************************************************************************
Shipment List
*/
.shipments div h2 {
    color: #273469;
  }


  .shipments .form-check label{
    cursor: pointer;
  }
  .shipments-title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .shipments #daterange{
    cursor: pointer;
    border: 1px solid #d1d3d4;
    padding: 4px 14px;
  }
  .shipments #daterange:focus-visible{
    outline: none;
  }

  .shipments #dropdown-search label{
    font-size: 11.5px;
  }
 
  .shipments-table thead{
    background-color: #888a8c;
    color: white;
  }
 
  
  .shipments-table .btn-action{
    text-align: center;
  }

  .shipments .tbl-ref a{
    background-color:  #273469;
    color: white !important;
    font-size: 12px;  
    padding: 3px 15px;
    cursor: pointer;
    text-decoration: none;
  }
  .shipments-table tbody, td, tfoot, th, thead, tr{
    border-width: 0 !important;
  }
  /* Shipment Details  */
  .shipment-details  .accordion button{
    padding: 8px 10px;
  }
  .shipment-details  .accordion button:focus{
   box-shadow: none;
  }
  .shipment-details .nav-pills .active{
    background-color:  #273469;
  }
  .shipment-details .nav-pills button{
    color: #273469;
    border-radius: 0;
  }
  .shipment-details #pills-detail table th{
    background-color:#273469;
    color: white;
    font-weight: 500;
    font-size: 15px;
  }
  .shipment-details #pills-detail table tbody, td, tfoot, th, thead, tr{
    border-width: 2px;
  }
  .shipment-details #pills-detail table td{
    font-size: 13px;
  }
  /* quote list */
  .quotelist .quotelist-table th{
    background-color: #888a8c;
    color: white;
  }
  .quotelist .table-freight th{
    background-color: white;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid #ccc !important;
  }
  /*# sourceMappingURL=style.css.map */
  a{
    color: #273469;
}
.btn-small{
    background-color: #273469;
    color: white;
    font-size: 12px;
    padding: 3px 15px;
}
.btn-normal{
    background-color: #273469;
    color: white;
    font-size: 15px;
    padding: 3px 14px;
}
.btn-normal[disabled]{
    background-color: #ccc;
    cursor: not-allowed;
    border: none
}
.disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
  border: none
}
.disabled:focus {
  background-color: whitesmoke;
}
button[disabled]{
    border: none;
    cursor: not-allowed;
}
.form-control:focus, .form-select:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
.dropdown a:hover{
    background-color: #273469;
    color: white;
  }
  .txt-sm-bold{
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 12px;
  }
  .txt-md-bold{
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 17px;
  }
  .txt-lg-bold{
    font-weight: 600;
    margin-bottom: 6px;
    font-size: 19px;
    letter-spacing: 1.2px;
  }
  .card, .card-header{
    border-radius: 0 !important;
  }
  table p{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
  }
  table th{
    font-size: 14px;
  }
  table .btn-action button{
    padding: 0px;
    margin: 1.5px;
    font-size: 10px;
    width: 25px;
    height: 25px;
  }
  .bg-gray{
    background-color: #f1f2f2;
    border: 1px solid #e6e7e8;
    border-radius: 3px;
    background-image: linear-gradient(rgba(255,255,255,.8),rgba(255,255,255,0));
  }
  .title-company {
    background-color: #273469;
    color: white;
    padding: 8px 220px;
    border-radius: 0 0 15px 15px;
    margin-top: -3px;
  }





/*
*********************************************************************************************************
Public Class
*********************************************************************************************************
*/
.button-clear{
    border: none;
    color: #273469;
    background-color: white;
}
.button-footer-truck-load{
    border: none;
    padding: 5px 10px;
}
.title{
    margin-left: 20px;
    color: #273469;
    text-wrap: nowrap;
}
.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed){
    background-color: #273469;
    color: white;
    text-transform: uppercase;
}
.button-outline{
    padding: 8px 15px;
    white-space: nowrap;
    background: #fff;
    border-radius: 3px;
    color: #3e5bb1;
    border: 3px solid #3e5bb1;
    text-decoration: none;
}
.button-primary{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin: 2px 0;
    font-weight: 600;
    vertical-align: middle;
    background-color: #5075dd;
    border: 0;
    white-space: nowrap;
    padding: 12px 14px;
    border-radius: 8px;
    width: fit-content;
}
.button-primary:hover{
    opacity: .9;
}
.button-secondary{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin: 2px 0;
    font-weight: 600;
    vertical-align: middle;
    background-color: #5075dd;
    border: 0;
    white-space: nowrap;
    padding: 7px 14px;
    border-radius: 3px;
    min-width: 200px;
}
.button-secondary:hover{
    opacity: .9;
}
.nav-responsive{
    z-index: 10;
    width: 20rem;
    align-items: start;
}
.nav-responsive .container-nav div{
    width: 300px;
}
.group-input{
    margin-bottom: 5px;
}
.group-input label{
    font-weight: 700;
}

.icon{
    margin: 0;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(0, -50%);
}
.required{
    border: 3px solid #ffce56 !important;
}
.check-box-radio-group {
    display: inline;
     }
    .check-box-radio-group .check-box-label {
      cursor: pointer;
      position: relative;
      padding: 0 40px 0 0px; }
    .check-box-radio-group .circle-check-box {
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid #ffce56;
      display: inline-block;
      margin: 0 0px 0 29px;}
      .check-box-radio-group .circle-check-box::after {
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #ffce56;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .3s; }
    .check-box-radio-group .check-box-input:checked ~ .check-box-label .circle-check-box::after {
      opacity: 1; }

.form-control:focus,
.form-select:focus{
    border-color: #dedede;
    outline: none;
    box-shadow: none;
} 

/*
*********************************************************************************************************
Public Class
*********************************************************************************************************
*/